/*EFECTO DE ANIMACION DE INICIO*/
@keyframes animacion_inicio {
  0%{
    margin-top: 150%;
    /*transform: translate(0vw, 100vh);*/
  }
  60%{
    margin-top: -5%;
    /*transform: translate(0vw, -5vh);*/
  }
  100%{
    margin-top: 0%;
    /*transform: translate(0vw, 0vh);*/
  }
}

/*EFECTOS APLICADOS A ETIQUETAS*/
body{
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
  margin: 0 ;
  animation: animacion_inicio 1s;
}

#cabecera {
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  padding: 1em 0;
  margin: 0 auto;
  color: white;
}

#cabecera > #titulo{
  padding: 1vh 1vw;
  text-shadow: 2px 2px #02010a;
}

#navegacion > a{
  color: white;
  padding: 1vh 1vw;
}

#secundario > .secundarias > a{
  color: black;
  display: block;
  text-align: center;
}

#principal > img ,.secundarias > a > img, #galeria > img{
  box-shadow: 2px 2px #02010a;
}

#contenido{
  margin: 0 auto;
}

#principal, #galeria{
  background-color: #82c3a6;
}

#secundario{
  background-color: #d5c75f;
}

#piedepagina{
  background-color: #c6d5c5;
  border-radius: 0px 0px 10px 10px;
  padding: 1em 0;
  margin: 0 auto;
}

#redessociales > a > img{
  width: 2vw;
}

.elementopie{
  padding: 1em;
}

.elementopie > a{
  color: black;
}

#galeria > img:nth-child(1){
  filter: blur(10px);
}

#galeria > img:nth-child(even){
  filter: grayscale(100%);
}

#galeria > img:nth-child(3){
  filter: sepia(90%);
}

#actual{
  text-decoration: none;
}

/*EFECTOS DE MOVIMIENTO IMAGENES*/

#imagen_secundaria_paisaje:hover{
  transform: rotate(10deg);
  transition: 0.5s;
}
#imagen_secundaria_paisaje{
  transition: 0.5s;
}
#imagen_secundaria_retrato:hover{
  transform: translate(20px, -5px);
  transition: 0.5s;
}
#imagen_secundaria_retrato{
  transition: 0.5s;
}

/*ESTILOS PARA DESKTOP*/
@media (min-width: 900px) {
  #contenido, #cabecera, #piedepagina{
    width: 900px;
  }
  #titulo{
    display: inline;
    text-align: left;
  }
  #navegacion{
    display: inline;
  }
  #principal > img{
    margin: 5% 5%;
    width: 90%;
  }
  #secundario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  #secundario > a{
    width: 50%;
  }
  #secundario > a >img{

  }
  .imagensecundaria{
    border: 1px solid black;
    width: 46%;
    margin: 2% 2%;
  }
  #galeria{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  #galeria > img{
    margin: 2%;
    width: 29.3%;
  }
  #piedepagina{
    display: flex;
    flex-direction: row;
  }
  .elementopie{
    flex-grow: 1;
  }
}

/*ESTILOS PARA MOVIL*/
@media (max-width:900px) {
  #contenido, #cabecera, #titulo, #navegacion{
    width:100%;
    text-align: center;
  }
  #principal > img{
    margin: 5% 5%;
    width: 90%;
  }
  #secundario{
    width: 100%;
  }
  #galeria > img{
    margin: 5% 5%;
    width: 90%;
  }
  .secundarias{
    width: 100%;
    padding: 5% 0%;
  }
  .imagensecundaria{
    border: 1px solid black;
    width: 90%;
  }

}
