body{
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
  margin: 0 ;
}

header {
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  padding: 0.5em;
}

header > h1{
  text-align: left;
}

#titulo{
  background-color: #5b7989;
  color: white;
  text-shadow: 2px 2px #02010a;
}

#navegacion{
  background-color: #5b7989;
  color: white;
  text-shadow: 2px 2px #02010a;
}

#navegacion > a{
  color: white;
}

img{
  box-shadow: 2px 2px #02010a;
}

#contenido{
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 900px) {
  #contenido{
    background-color: blue;
    width: 900px;
  }
}

@media (max-width:900px) {
  #contenido{
    background-color: green;
    width:100%;
  }
  #navegacion{
    width: 100%;
  }
  #titulo{
    width: 100%
  }
}

#actual{
  text-decoration: none;
}
