body{
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
  margin: 0 ;
}

#cabecera {
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  padding: 1em 0;
  margin: 0 auto;
  color: white;
}

#cabecera > #titulo{
  padding: 1vh 1vw;
  text-shadow: 2px 2px #02010a;
}

#navegacion > a{
  color: white;
  padding: 1vh 1vw;
}

#secundario > .secundarias > a{
  color: black;
  display: block;
  text-align: center;
}

#principal > img ,.secundarias > a > img{
  box-shadow: 2px 2px #02010a;
}

#contenido{
  margin: 0 auto;
}

#principal{
  background-color: #82c3a6;
}

#secundario{
  background-color: #d5c75f;
}

#piedepagina{
  background-color: #c6d5c5;
  border-radius: 0px 0px 10px 10px;
  padding: 1em 0;
  margin: 0 auto;
}

#redessociales > a > img{
  width: 20px;
}

.elementopie{
  padding: 1em;
}

.elementopie > a{
  color: black;
}

@media (min-width: 900px) {
  #contenido, #cabecera, #piedepagina{
    width: 900px;
  }
  #titulo{
    display: inline;
    text-align: left;
  }
  #navegacion{
    display: inline;
  }
  #principal{
    padding: 20px 200px;
  }
  #imagenprincipal{
    width: 500px;
  }
  #secundario{
    display: flex;
    flex-direction: row;
  }
  .secundarias{
    flex-grow: 1;
    padding: 20px;
  }
  .imagensecundaria{
    border: 1px solid black;
    width: 405px;
  }
  #piedepagina{
    display: flex;
    flex-direction: row;
  }
  .elementopie{
    flex-grow: 1;
  }
}

@media (max-width:900px) {
  #contenido, #cabecera, #titulo, #navegacion{
    width:100%;
    text-align: center;
  }
  #principal{
    padding: 5% 5%;
  }
  #imagenprincipal{
    width: 100%;
  }
  #secundario{
    width: 100%;
  }
  .secundarias{
    width: 100%;
    padding: 5% 0%;
  }
  .imagensecundaria{
    border: 1px solid black;
    width: 90%;
  }

}

#actual{
  text-decoration: none;
}
